<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Winform_Final.Properties.Settings.PizzaManagerConnectionString"
            connectionString="Data Source=LAPTOP-DU7444DE\MANPHAM;Initial Catalog=PizzaManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>